body {
	font-family: 'Karla', sans-serif;
		background:rgb(236,235,232);
		margin:0;
}
#content {
	width:90%;
	margin:0 auto;
}
/*NAV*/
#header {
	background:black;
	position:fixed;
	top:0;
	width:100vw;
	z-index:10;
}  
#icon {
	width:50px;
	height:50px;
	float:right;
}  
nav {
	margin-right:3em;
	padding-top:1em;
	padding-bottom:2em;
	background:black;
}
nav .brand {
	float:left;
	display:inline;
}
nav .brand img {
	width:160px;
	margin:0 1em 1em 1em;
}
.mainnav {
	display:none;
	margin-top:3em;
	position:absolute;
	right:0;
	background:black;
}
nav ul li {
	list-style-type: none;
	font-size: 18px;
	text-align: right;
	line-height: 25px;
	font-weight:bold;
	letter-spacing:0.8px;
	background:black;
	width:100vw;
}
nav li a {
	color: #f6f5f4;
	text-decoration: none;
}
nav li a:hover {
	color: #82c341;
}
nav ul .subnav ul {
	display: none;
	padding-top:1.5em;
}
nav ul .subnav:hover ul{
	display: block;
}
nav ul .subnav ul li {
	border-top: 1px solid #999;
}
nav ul .subnav ul li a {
	line-height: 25px;
	text-align: center;
	color: black;
}
nav li.subnav ul li a:link, nav li.subnav ul li a:visited {
	color: white;
}
nav li.subnav ul li a:hover, nav li.subnav ul li a:active {
	color: #82c341;
}

/*BANNER*/
#banner{
    background:url(../img/background.jpg) no-repeat center center;
    background-size:cover;
    height:95vh;
    width:100vw;
    display:flex;
    justify-content:flex-end;
	flex-direction:column;
}
h1{
    font-size: 70px;
    text-align: left;
    margin:0;
    padding-bottom:1em;
    margin-left:30px;

}
.brand {
	color:white;
}
.guidelines {
	color:#82c341;
}
/*SEPARATOR*/
#separator {
	background:rgb(132,189,0);
	padding-top:5em;
	padding-bottom:5em;
	padding-left:10%;
}
#separator h2 {
	font-size:32px;
}
#separator p {
	padding-top:1em;
	padding-bottom:1em;
	margin:0;
	color:rgb(236,235,232);
	letter-spacing:0.8px;
	font-size:22px;
}
#separator p a {
	color:black;
	text-decoration:none;
}
#separator p a:hover  {
	color:rgb(130,130,130);
	
}
/*BUTTONS*/
.button {
	padding-bottom:5em;
	align-self:center;
}
.nextsection {
	background:none;
	border:3px white solid;
	border-radius:25px;
	padding:1em 5em;
}
.nextsection a {
	color:white;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	letter-spacing:1.2px;
	text-transform:uppercase;
}
.nextsection:hover {
	background:rgb(132,189,0);
	border:rgb(132,189,0) 3px solid;
}
/*Articles*/
article {
	width:100vw;
}
#heading {
	background:black;
	height:100vh;
}
#heading h2 {
	font-size:60px;
	margin-left:30px;
	color:white;
	padding-top:65vh;
	margin-top:0;
}
section {
	padding-top:4em;
	padding-bottom:4em;
}
#horizontal {
	background:rgb(255,255,255);
}
#colour {
	background:rgb(255,255,255);
}
h3 {
	font-size:50px;
	line-height:60px;
}
h4 {
	font-size:25px;
	margin-top:2em;
}
.two {
	color:#82c341;
}
.logotypes {
	margin-bottom:2em;
}
p {
	font-size:20px;
	line-height:30px;
	width:88%;
}
br {
	line-height:40px;
}
.colourcharts {
	display:flex;
	justify-content:space-between;
	margin-top:4em;
}
.green p, .black p, .grey p, .sand p, .white p {
	font-size:16px;
	padding-top:1em;
}
#spotifygreen {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin-bottom:4em;
}
.green {
	background:rgb(132,189,0);
	color:white;
	width:200px;
	margin-top:1em;
}
.black {
	background:rgb(0,0,0);
	color:white;
	width:20vw;
}
.grey {
	background:rgb(130,130,130);
	color:white;
	width:20vw;
}
.sand {
	background:rgb(236,235,232);
	width:20vw;
}
.white {
	background:rgb(255,255,255);
	border:2px solid black;
	width:20vw;
}
.logo-images {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-top:3em;
	margin-bottom:3em;
}
.imglogo img {
	margin-right:3em;
}
img {
	max-width:100%;
	height:auto;
}
.donts {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-top:3em;

}
ol li {
	font-size:20px;
	margin-bottom:2em;
	margin-top:2em;
	letter-spacing:0.5px;
	line-height:30px;
}
ol li .boldfont {
	font-weight:600;
	font-size:25px;
	color:rgb(132,189,0);
}
strong {
	color:rgb(132,189,0);
}
#messaging-content p {
	font-size:25px;
	margin-bottom:2em;
}
.right, .wrong {
	font-size:25px;
	line-height:30px;
}
footer {
	background:white;
	color:grey;
	padding:2em 1em;
	text-align:center;
}
/*MEDIA QUERIES*/
@media screen and (max-width:960px) {
	nav ul .subnav ul {
		position:absolute;
		right:0;
		background:black;
	}	
	nav ul li {
		padding-right:2em;
		padding-top:0.5em;
		padding-bottom:0.8em;
	}
}
@media screen and (min-width:600px) {
	.nextsection {
		left:35%;
	}
	.colourcharts {
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}
	.clearspace {
		width:60%;
	}
}
@media screen and (min-width:800px) {
	.donts p {
		width:50%;
	}
	#spotifygreen p {
		width:60%;
	}
	.green {
		width:30%;
	}
	}
@media screen and (min-width:960px) {
	#icon {
    display: none;
  }
	.mainnav {
    display: block;
    float:right;
    margin-top:1em;
    background:none;
    margin-right:1.5em;
  }
  nav ul li {
  	float:right;
  	background:none;
  	width:90px;
  	margin-left:1em;
  	text-align:center;
  }
}
@media screen and (min-width:1200px) {
	p {
		width:60%;
	}
	.clearspace {
		width:42%;
	}
}