body {
	font-family:helvetica, sans-serif;
		background:rgb(236,235,232);
}
#content {
	width:90%;
	margin:0 auto;
}
/*NAV*/
#header {
	background:black;
	position:fixed;
	top:0;
	width:100vw;
	z-index:10;
	height:80px;
}    
nav {
	margin-right:30px;
	padding-top:1em;
	padding-bottom:2em;
}
nav .brand {
	float:left;
	display:inline;
}
nav .brand img {
	width:160px;
	margin:0 1em 1em 1em;
}
nav ul li {
	list-style-type: none;
	float: right;
	width: 90px;
	font-family:Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
	line-height: 25px;
	font-weight:bold;
	letter-spacing:0.5px;
}
nav li a {
	color: #f6f5f4;
	text-decoration: none;
	display: block;
}
nav li a:hover {
	color: #82c341;
}
nav ul .subnav ul {
	display: none;
}
nav ul .subnav:hover ul{
	display: block;
}
nav ul .subnav ul li {
	border-top: 1px solid #999;
}
nav ul .subnav ul li a {
	line-height: 25px;
	text-align: center;
	font-family:Helvetica, sans-serif;
	color: black;
}
nav li.subnav ul li a:link, nav li.subnav ul li a:visited {
	color: white;
}
nav li.subnav ul li a:hover, nav li.subnav ul li a:active {
	color: #82c341;
}
/*BANNER*/
#banner{
    background:url(../img/background.jpg) no-repeat center center;
    background-size:cover;
    height:100vh;
    width:100vw;
    position:relative;
}
h1{
    font-size: 80px;
    text-align: left;
    font-family:helvetica;
    position:absolute;
    top:40%;
    left:5%;

}
.brand {
	color:white;
}
.guidelines {
	color:#82c341;
}
/*BUTTONS*/
.nextsection {
	background:none;
	border:3px white solid;
	border-radius:25px;
	margin:0 auto;
	position:absolute;
	left:25%;
	top:80%;
	margin-top:3em;
	padding:1em 5em;
}
.nextsection a {
	font-family:helvetica, sans-serif;
	color:white;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	letter-spacing:1.2px;
	text-transform:uppercase;
}
.nextsection:hover {
	background:rgb(132,189,0);
	border:rgb(132,189,0) 3px solid;
}
/*Articles*/
#heading {
	background:black;
	height:100vh;

}
#heading h2 {
	font-size:60px;
	margin-left:30px;
	color:white;
	padding-top:65vh;
	margin-top:0;
}
section {
	padding-top:4em;
	padding-bottom:4em;
}
#horizontal {
	background:rgb(255,255,255);
}
#colour {
	background:rgb(255,255,255);
}
h3 {
	font-size:50px;
	line-height:60px;
}
h4 {
	font-size:25px;
	margin-top:2em;
}
.two {
	color:#82c341;
}
.logotypes {
	margin-bottom:2em;
}
p {
	font-size:20px;
	line-height:30px;
	width:88%;
}
br {
	line-height:40px;
}
.neutrals {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	flex-direction:column;
}
.green p, .black p, .grey p, .sand p, .white p {
	font-size:16px;
	padding-top:1em;
}
.green {
	background:rgb(132,189,0);
	color:white;
	max-width:40vw;
}
.black {
	background:rgb(0,0,0);
	color:white;
}
.grey {
	background:rgb(130,130,130);
	color:white;
}
.sand {
	background:rgb(236,235,232);
}
.white {
	background:rgb(255,255,255);
	border:2px solid black;
}
.logo-images {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-top:3em;
	margin-bottom:3em;
}
.imglogo img {
	margin-right:3em;
}
img {
	max-width:100%;
	height:auto;
}
.stacks {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:stretch;
}
.donts {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	flex-wrap:wrap;
}
/*MEDIA QUERIES*/
@media screen and (min-width:600px) {
	.nextsection {
		left:35%;
	}
	.colourcharts {
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}
	.clearspace {
		width:60%;
	}
}
@media screen and (min-width:1200px) {
	p {
		width:60%;
	}
	.clearspace {
		width:42%;
	}
}